* {
  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contact-footer {
  padding: 5% 10%;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.icons svg {
  color: black;
  width: 1.4rem;
}

.bi {
  margin: 0 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
  transition: background-color 0.4s ease-in-out;
}

.icons .bi:hover {
  background-color: #1b5a7a;
  color: white;
}

* ::selection {
  background-color: #3b3355cd;
}

@media (max-width: 510px) {
  .bi {
    margin: 0 0.5rem;
  }
}
