.header-div {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  position: absolute;
  width: 10rem;
  padding: 1rem 1rem;
}

.header {
  display: flex;
  border-radius: 4rem;
  background-color: rgba(255, 255, 255, 0.522);
  backdrop-filter: blur(0.3rem);
  border: 0.1rem rgba(0, 0, 0, 0.039) solid;
  width: fit-content;
}

h2 {
  font-family: "Baskervville", serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 1.2rem;
  margin: 1rem 1.5rem;
}

h2:hover {
  color: #1b5a7a;
  cursor: pointer;
}

@media (max-width: 776px) {
  .logo {
    display: none;
  }

  .header h2 {
    font-size: 1rem;
    margin: 1rem 1rem;
  }
}

@media (max-width: 510px) {
}
