.header-div {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  border-radius: 4rem;
  background-color: rgba(0, 0, 0, 0.06);
  width: fit-content;
}

h2 {
  font-family: "Baskervville", serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 1.2rem;
  margin: 1rem 1.5rem;
  padding: 0.5rem 0.5rem;
}

h2:hover {
  background-image: linear-gradient(
    to right,
    rgba(86, 94, 136, 0.127),
    rgb(110, 67, 169),
    rgba(161, 14, 224, 0.768)
  );
  padding: 1rem 1.5rem;
  margin: 0.5rem 0.5rem;
  border-radius: 4rem;
  cursor: pointer;
}
