.header-div {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
}

.logo {
  position: absolute;
  width: 10rem;
  padding: 1rem 1rem;
}

.header {
  display: flex;
  border-radius: 4rem;
  background-color: rgba(0, 0, 0, 0.025);
  width: fit-content;
}

h2 {
  font-family: "Baskervville", serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 1.2rem;
  margin: 1rem 1.5rem;
}

h2:hover {
  color: #1b5a7a;
  cursor: pointer;
}

@media (max-width: 776px) {
  .logo {
    display: none;
  }
}
