* {
  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  padding-top: 5rem;
}

.hero-main h1 {
  font-size: 3rem;
  animation: fade-in 2s linear 0.3s backwards;
}

.hero-main h3 {
  animation: fade-in 2s linear 2s backwards;
}

.color-text {
  color: #1b5a7a;
  font-weight: 600;
}

.para {
  width: fit-content;
  text-align: center;
  padding: 3% 15%;
  font-size: larger;
  line-height: 2rem;
}

.dark .para {
  background-color: black;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 776px) {
  .hero-main h1 {
    font-size: 2rem;
  }
}

@media (max-width: 510px) {
  .hero-main h1 {
    font-size: 1.5rem;
  }
}
