:root {
  --color-dark: #21231f;
  --color-light: #ffffff;
}

main {
  background: var(--color-light);
  transition: 0.3s;
  width: 100%;
}

main.dark {
  background: var(--color-dark);
  color: rgba(227, 217, 217, 0.928);
}

main.dark svg {
  color: var(--color-light);
}
