:root {
  --color-dark: #21231f;
  --color-light: #ffffff;
}

body {
  background: var(--color-light);
  transition: 0.3s;
  width: 100%;
}

body.dark {
  background: var(--color-dark);
  color: rgb(227, 217, 217);
}

body.dark svg {
  color: var(--color-light);
}
