* {
  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.projects-div {
  padding: 0% 10%;
  padding-top: 5%;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-div h3 {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1px;
}

.projects-div p {
  padding-bottom: 2rem;
  text-decoration: underline;
}

.projects-grid {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 0.7rem;
  width: 80%;
}

.main-site {
  grid-column: span 2;
}

main.dark .grid-div {
  position: relative;
  display: flex;
  justify-content: center;
  background: linear-gradient(-45deg, #111010, #3b336b50, #0c6181, #091274);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: rgba(227, 217, 217, 0.928);
}

.grid-div h1 {
  position: absolute;
  top: 1px;
  font-size: large;
}

.grid-div p {
  position: absolute;
  bottom: 1px;
  text-align: center;
}

.link {
  position: absolute;
  top: 1px;
  right: 5px;
  text-decoration: none;
  padding: 0.3rem 0.3rem;
  transition: transform 0.4s ease-in-out;
}

.link:hover {
  transform: scale(1.4);
}

.grid {
  display: flex;
  justify-content: center;
}

.grid-div {
  width: 100%;
  height: 20vh;
  background-color: #1b5a7a06;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.3rem #1b5a7a67;
  padding-top: 8rem;
  transition: box-shadow 0.4s ease-in-out;
}

.grid-div:hover {
  box-shadow: 0 0 3rem #1b5a7a;
}

main.dark .grid-div:hover {
  box-shadow: 0 0 2rem #9dddff;
}

.grid-div:hover h1 {
  text-decoration: underline;
}

.skills-p {
  position: absolute;
  top: 40%;
  width: 100%;
}

.skills-p ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.skills-p li {
  display: inline-flex;
  background-color: #1b5a7a06;
  margin: 0.2rem 0.4rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.3rem #1b5a7a;
  transition: box-shadow 0.2s ease-in-out;
}

.skills-p li:hover {
  box-shadow: 0 0 1rem #1b5a7a;
}

main.dark .skills-p li:hover {
  box-shadow: 0 0 1rem #9dddff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader svg {
  height: 10rem;
  display: block;
  margin: 0 auto;
}

.loader svg path {
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  color: #26a380;
}

.loader svg path.path-7 {
  animation-delay: -1s;
}

.loader svg path.path-6 {
  animation-delay: -0.875s;
}

.loader svg path.path-5 {
  animation-delay: -0.75s;
}

.loader svg path.path-4 {
  animation-delay: -0.625s;
}

.loader svg path.path-3 {
  animation-delay: -0.5s;
}

.loader svg path.path-2 {
  animation-delay: -0.375s;
}

.loader svg path.path-1 {
  animation-delay: -0.25s;
}

.loader svg path.path-0 {
  animation-delay: -0.125s;
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.1;
  }
}

@media (max-width: 510px) {
  .projects-grid {
    display: grid;
    grid-template: 1fr / 1fr;
    gap: 0.7rem;
  }
  .main-site {
    grid-column: span 1;
  }
  .grid-div {
    height: 20px;
    font-size: x-small;
  }

  .grid-div h1 {
    font-size: 0.8rem;
  }
  .grid-div p {
    margin: 5px 10px;
  }

  .loader {
    top: 40%;
  }

  .loader svg {
    height: 3rem;
  }

  .skills-p {
    font-size: 0.4rem;
  }

  .skills-p ul {
    margin-right: 0.3rem;
  }
}
