* {
  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.skills-div {
  padding-top: 2%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1rem;
  text-align: center;
}

.skills-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-div h3 {
  font-weight: bold;
  font-size: 1.3rem;
  padding-bottom: 2rem;
}

.skills-div h4 {
  text-decoration: underline;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list li {
  display: inline-flex;
  background-color: #1b5a7a06;
  margin: 0.2rem 0.4rem;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.7rem #1b5a7a;
  transition: box-shadow 0.2s ease-in-out;
  white-space: nowrap;
}

.list li:hover {
  box-shadow: 0 0 1.3rem #1b5a7a;
  cursor: default;
}

.skills-2 {
  margin-top: 5rem;
}
